
/* Basic font settings */
p, h1, li, td, div {
    font-family: monospace;
}

h1 {
    font-size: 2.5vh;
}

p, td, li {
    font-size: 1.5vh;
}


td {
    line-height: 5vmin;
    font-size: 4vmin;
}

button {
    text-align: center;
    border:1px solid black;
    background-color:white;
    transition-duration:0.4s;
}

button:hover {
    text-align: center;
    border:1px solid gray;
    color: gray;
    background-color:white;
    transition-duration:0.4s;
}

/* overworld grid */
#overworld-grid {
    display: grid;
    grid-template-columns: 20vw 58vw 20vw;
    grid-template-rows: 98vh;
    grid-gap: 0.5vw;
}

.overworld-grid-box {
    padding: 1vmin;
    border: 1px solid grey;
}

    /* overworld map */
#overworld-map-display {
    height: 90vmin;
    width: 90vmin;
    max-width: 58vw;
    max-height: 58vw;
    margin-left: auto;
    margin-right: auto;
}

.overworld-map-box {
    line-height: 2vmin;
    font-size: 3vmin;
}

.overworld-map-box-grey {
    line-height: 2vmin;
    font-size: 3vmin;
    color: lightgrey;
}

/* Inventory */
.inventory-td {
    font-size: 0.75vw;
}

/* battle screen */
#battle-box {
    display: none;
    width: 98vw;
    height: 96vh;
    padding: 1vmin;
    border:1px solid grey;
}

#battle-player {
    width: 10vw;
    height: 10vw;
    text-align: center;
    font-size: 6vw;
    position: fixed;
    left: 30vw;
    top: 10vw;
}

#battle-enemy {
    width: 10vw;
    height: 10vw;
    text-align: center;
    font-size: 6vw;
    position: fixed;
    left: 60vw;
    top: 10vw;
}

#battle-player-name {
    width: 10vw;
    height: 2vw;
    text-align: center;
    font-size: 2.5vh;
    position: fixed;
    left: 30vw;
    top: 8vw;
    font-weight: bold;
}

#battle-enemy-name {
    width: 10vw;
    height: 2vw;
    text-align: center;
    font-size: 2.5vh;
    position: fixed;
    left: 60vw;
    top: 8vw;
    font-weight: bold;
}

#battle-player-status {
    width: 10vw;
    height: 5vw;
    text-align: center;
    font-size: 2vh;
    position: fixed;
    left: 30vw;
    top: 20vw;
    font-weight: bold;
}

#battle-enemy-status {
    width: 10vw;
    height: 5vw;
    text-align: center;
    font-size: 2vh;
    position: fixed;
    left: 60vw;
    top: 20vw;
    font-weight: bold;
}

#battle-board {
    width: 20vw;
    height: 20vw;
    border: 1px solid grey;
    position: fixed;
    left: 40vw;
    top: 5vw;
}

#battle-soul {
    width: 2vw;
    height: 2vw;
    text-align: center;
    font-size: 1.5vw;
    position: fixed;
    left: 49vw;
    top: 14vw;
    font-weight: bold;
}

#battle-log {
    width: 40vw;
    height: 10vw;
    border: 1px solid grey;
    font-size: 1vw;
    position: fixed;
    left: 30vw;
    top: 26vw;
}

#battle-inventory {
    display: none;
    width: 20vw;
    height: 14vw;
    border: 1px solid grey;
    position: fixed;
    left: 40vw;
    top: 5vw;
}

#battle-inventory-table {
    margin-left: auto;
    margin-right: auto;
}

.battle-inventory-td {
    font-size: 0.75vw;
}

#battle-actions {
    width: 20vw;
    height: 5vw;
    text-align: center;
    font-size: 2vh;
    position: fixed;
    left: 40vw;
    top: 20vw;
    font-weight: bold;
}

#battle-attack-button {
    display:inline-block;
}

#battle-item-button {
    display:inline-block;
}

#battle-return-button {
    display:none;
}

.battle-bullet {
    width: 4vw;
    height: 4vw;
    text-align: center;
    font-size: 3vw;
    position: fixed;
    left: 49vw;
    top: 14vw;
}

