body {
    margin: 1vh 1vw;
}

/* Basic font settings */
p, h1, h2, li, td, div, label, select, option, button, input {
    font-family: monospace;
}

h1 {
    font-size: 2.5vh;
}

h2 {
    font-size: 2vh;
}

p, td, li, label, option {
    font-size: 1.5vh;
}


td {
    font-size: 4vmin;
    line-height: 5vmin;
}

button {
    font-size: 1.5vh;
    text-align: center;
    border:1px solid black;
    background-color:white;
    transition: border, color 0.4s;
}

button:hover {
    text-align: center;
    border:1px solid gray;
    color: gray;
    background-color:white;
    transition: border, color 0.4s;
}

select {
    font-size: 1.5vh;
    text-align: left;
    border:1px solid black;
    background-color:white;
    transition: border, color 0.4s;
}

select:hover {
    text-align: left;
    border:1px solid gray;
    color: gray;
    background-color:white;
    transition: border, color 0.4s;
}

/* common */
.screen-box {
    display: none;
    width: 97vw;
    height: 95vh;
    padding: 1vmin;
    border:1px solid grey;
}

/* main menu */
#main-menu-box {
    display: block;
}

#main-menu-title {
    position:fixed;
    top: -1vh;
    padding:1vw;
    width:25vw;
}

#main-menu-title-title {
    font-size: 7.5vh;
    margin-bottom: 0px;
}

#main-menu-options {
    position:fixed;
    top: 70vh;
    right: 10vw;
    border:1px solid grey;
    padding:1vw;
    width:10vw;
}

#main-menu-lore {
    position:fixed;
    top: 20vh;
    left: 30vw;
    border:1px solid grey;
    padding:1vw;
    width:50vw;
}

#main-menu-how-to-play {
    position:fixed;
    top: 60vh;
    left: 10vw;
    border:1px solid grey;
    padding:1vw;
    width:40vw;
}

/* start screen */
#start-screen-forms-box {
    display:block;
    align-content: center;
    text-align: center;
}

.start-screen-form-box {
    display:inline-block;
    width: auto;
    text-align: center;
}

/* fly screen */
#fly-player {
    width: 4vw;
    height: 4vw;
    text-align: center;
    font-size: 3vw;
    position: fixed;
    left: 48vw;
    top: 80vh;
}

#fly-progress-bar {
    width: 4vh;
    height: 30vh;
    text-align: center;
    position: fixed;
    left: 3vw;
    top: 35vh;
    border: 1px solid black;
}

#fly-progress-top {
    width: 4vh;
    height: 2vh;
    text-align: center;
    font-size: 1.5vh;
    position: fixed;
    left: 3vw;
    top: 32vh;
}

#fly-progress-bottom {
    width: 4vh;
    height: 2vh;
    text-align: center;
    font-size: 1.5vh;
    position: fixed;
    left: 3vw;
    top: 66vh;
}

#fly-progress-player {
    width: 4vh;
    height: 4vh;
    text-align: center;
    font-size: 3vh;
    position: fixed;
    left: 3vw;
    top: 61vh;
}

#fly-status-player {
    width: 6vh;
    height: 6vh;
    text-align: center;
    position: fixed;
    font-size:4vh;
    right: 2.5vw;
    top: 47vh;
}

#fly-status-name {
    width: 10vh;
    height: 2vh;
    text-align: center;
    position: fixed;
    font-size:1.5vh;
    right: 1.5vw;
    top: 45vh;
}

#fly-status-HP {
    width: 10vh;
    height: 2vh;
    text-align: center;
    position: fixed;
    font-size:1.5vh;
    right: 1.5vw;
    top: 53vh;
}

/* overworld grid */
#overworld-grid {
    display: none;
    grid-template-columns: 20vw 57vw 20vw;
    grid-template-rows: 98vh;
    grid-gap: 0.5vw;
}

.overworld-grid-box {
    padding: 1vmin;
    border: 1px solid grey;
}

    /* overworld map */
#overworld-map-display {
    height: 90vmin;
    width: 90vmin;
    max-width: 58vw;
    max-height: 58vw;
    margin-left: auto;
    margin-right: auto;
}

.overworld-map-box {
    line-height: 2vmin;
    font-size: 3vmin;
}

.overworld-map-box-grey {
    line-height: 2vmin;
    font-size: 3vmin;
    color: lightgrey;
}

/* Stats */
.stat {
    margin-bottom: 0.5vh;
    margin-top: 0.5vh;
}

/* Inventory */
.inventory-td {
    font-size: 0.75vw;
}

/* battle screen */
#battle-player {
    width: 10vw;
    height: 10vw;
    text-align: center;
    font-size: 6vw;
    position: fixed;
    left: 30vw;
    top: 10vw;
}

#battle-enemy {
    width: 10vw;
    height: 10vw;
    text-align: center;
    font-size: 6vw;
    position: fixed;
    left: 60vw;
    top: 10vw;
}

#battle-player-name {
    width: 10vw;
    height: 2vw;
    text-align: center;
    font-size: 2.5vh;
    position: fixed;
    left: 30vw;
    top: 8vw;
    font-weight: bold;
}

#battle-enemy-name {
    width: 10vw;
    height: 2vw;
    text-align: center;
    font-size: 2.5vh;
    position: fixed;
    left: 60vw;
    top: 8vw;
    font-weight: bold;
}

#battle-player-status {
    width: 10vw;
    height: 5vw;
    text-align: center;
    font-size: 2vh;
    position: fixed;
    left: 30vw;
    top: 20vw;
    font-weight: bold;
}

#battle-enemy-status {
    width: 10vw;
    height: 5vw;
    text-align: center;
    font-size: 2vh;
    position: fixed;
    left: 60vw;
    top: 20vw;
    font-weight: bold;
}

#battle-board {
    width: 20vw;
    height: 20vw;
    border: 1px solid grey;
    position: fixed;
    left: 40vw;
    top: 5vw;
}

#battle-soul {
    width: 2vw;
    height: 2vw;
    text-align: center;
    font-size: 1.5vw;
    position: fixed;
    left: 49vw;
    top: 14vw;
    font-weight: bold;
}

#battle-log {
    width: 40vw;
    height: 10vw;
    border: 1px solid grey;
    font-size: 1vw;
    position: fixed;
    left: 30vw;
    top: 26vw;
}

#battle-inventory {
    display: none;
    width: 20vw;
    height: 14vw;
    border: 1px solid grey;
    position: fixed;
    left: 40vw;
    top: 5vw;
}

#battle-inventory-table {
    margin-left: auto;
    margin-right: auto;
}

.battle-inventory-td {
    font-size: 0.75vw;
}

#battle-actions {
    width: 20vw;
    height: 5vw;
    text-align: center;
    font-size: 2vh;
    position: fixed;
    left: 40vw;
    top: 20vw;
    font-weight: bold;
}

#battle-attack-button {
    display:inline-block;
}

#battle-item-button {
    display:inline-block;
}

#battle-return-button {
    display:none;
}

.battle-bullet {
    width: 4vw;
    height: 4vw;
    text-align: center;
    font-size: 3vw;
    position: fixed;
    left: 49vw;
    top: 14vw;
}

/* Save screen */

#save-download, #save-why {
    display: none;
}

/* Load screen */

#load-file-valid {
    text-align: center;
}

#load-you {
    margin: auto;
    text-align: center;
    width: 20vh;
    height: 20vh;
    border: 1px solid black;
}

#load-you-\@ {
    font-size: 5vh;
    margin-top: -1vh;
    margin-bottom: -1vh;
}

#load-file-input {
    font-size: 1.5vh;
}